
doctype html
html(lang="es")
	head
		title Ejemplo de Layout
		meta(charset="utf-8")
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
	body
		center
			h1(class="text-success") Todo este segmento es fijo
		hr
		br
		block content	
		br
		hr
		
