extends ./layout.pug
block content
	form(action="/users", method="POST")
		center
			div(class="form-group")
				label(for="Nombre") Nombre
				input(type='text', name='Nombre', id='Nombre', class='form-control')
			div(class="form-group")
				label(for="Password") Contraseña 
				input(type='password', name='Password', id='Password', class='form-control')
			div
				input(type="submit", value="Entrar", class="btn btn-success")


